
  /* Arrow Styles */
  
  .rec.rec-carousel-wrapper .rec-carousel button {
    background:#fff;
    color:red;
  }
  
  .rec.rec-carousel-wrapper .rec-pagination .rec.rec-dot.rec {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  .rec.rec-carousel-wrapper .rec-pagination .rec.rec-dot.rec.rec-dot_active {

    display: none;

  }
  .rec.rec-arrow:disabled {
    visibility: hidden;
}
.rec.rec-arrow:hover {
  border-radius: 0%;
}
.sc-eCYdqJ.eLPooy.rec.rec-carousel{
width: 100%;
}