/* .pt_161{
    padding-top: 161px;
}
.pb_261{
    padding-bottom: 261px;
} */
.padfooter{
    padding: 60px 128px 10px 128px;
}
.padlicenseb{
    margin-top: 100px;
   
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
}
.br{
    border-radius: 70px;
}
.font_montserrat{
    font-family: 'Montserrat', sans-serif;
}
.font_poppins{
    font-family: 'Poppins', sans-serif;
}
.font_lato{
   font-family: 'Lato', sans-serif;
    
}
